nav {
    display: flex;
    justify-content: space-evenly;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

nav div {
    padding: 1em 1.5em;
    font-size: 1.25em;
}

.footer {
    margin: 25px 10px 10px 10px;
    flex-shrink: 0;
    bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
}

.footer a {
    text-decoration: none;
}
