nav {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    margin-bottom: 1em;
}

nav div {
    padding: 1em 1.5em;
    font-size: 1.25em;
}

.footer {
    margin: 25px 10px 10px 10px;
    flex-shrink: 0;
    bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
}

.footer a {
    text-decoration: none;
}
